* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.header-title {
  font-size: 36px;
}

.header-title-link {
  color:#fff;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  z-index: 3;
  position: static;
  top: 0;
  flex-wrap: wrap;
}
.titles{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
 
}

/* .Topbar-boxes{
  display: flex;
  justify-content:center;
  align-items: center;

} */
.topbar-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #A9A9A9;
    margin-left: 19px;
    /* margin-top: -19px ;
    margin-left: -156px; */
    
    
}
.topbar-btn-text{
    font-size: 18px;
    padding-left: 5px;
}
.topbar-btn-icon{
    margin-left: 10px;
    font-size: 20px;
   
}
.box-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 35px;
}
.search {
  display: flex;
  align-items: center;
  border-radius: 15px;
  text-indent: 5px;
  border: 1px solid gray;
  margin: 0 auto;
  width: clamp(200px,520px,600px);
  /* margin-top: -20px; */
}
.header-btn {
  position: absolute;
  left: 0px;
  top: 1px;
  display: flex;
  color: #000;
  border-radius: 50px;
  transition: 0.3s;
  font-size: 18px;
  background-color: #fff;
}

.header-btn:hover {
  background-color: #9c9999;
}

.header-links {
  display: none;
}

#basic-nav-dropdown {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 22px;
  font-weight: 300;
}
.basket{
  display: flex;
  /* margin-top: -20px; */
}
.shopbasket{
position: relative;
border-radius: 15px;
}
.numberofbuys{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: -8px;
left: 19px;
background-color: red;
color: #fff;
padding: 1px 4px;
border-radius: 100%;
}

.login-basket{
  display: flex;
  align-items: center;
}